rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == user_id;
    }
    match /projects/{project_id} {
      allow read, create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id
    }
  }
}

// Collection: Users
// Only authenticated users can read and create
// Only users who are owners of a doc can update it


// Collection: Projects
// only authenticated users can CRU
// only owners of a doc can delete it 